
<div class="container">
  <h2 class="pt-3">Availaible products:</h2>
  <table *ngFor="let item of productList"  class="table table-bordered border-primary">
    <thead>
      <th>Image</th>
      <th>Name</th>
      <th>Color</th>
      <th>Category</th>
      <th>Price</th>
      <th>Description</th>
      <th>tools</th>

    </thead>
    <tbody>
     <tr>
      <td><img [src]="item.image" alt=""></td>
      <td>{{item.name}}</td>
      <td>{{item.color}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price | currency }}</td>
      <td>{{item.description}}</td>
      <td><button class="btn" (click)="deleteProduct(item.id)"><i class="fa-solid fa-trash"></i></button>
      <a routerLink="/seller-update-products/{{item.id}}"><i class="fa-solid fa-pen-to-square"></i> </a></td>
     </tr>
    </tbody>
  </table>
</div>