h1{
font-family: inherit;
text-align: center;
font-weight: 500;
line-height: 1.2;
margin-top: 50px;
}

.form{
    background-color: #f05a58;
    height: 110px;
    width: 1000px;
    justify-self: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
}