.details{
    display: flex;

}
.image{
    width: 200px;
    height: 400px;
   
}
.info a{
    text-decoration-line: none;
    color: black;
    -moz-text-decoration-line: none;
}
.extra{
    background-color: aliceblue;
}
