<div class="container position-relative ">
  <h3 class="text-center pt-5">Seller Sign Up</h3>
    <div class="form">
        <form [formGroup]="sellerSignUp" (ngSubmit)="signUp(sellerSignUp)">
            <div class="w-75">
                <label for="exampleInputEmail1" class="form-label">Name:</label>
                <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" >
              </div>
            <div class="w-75">
              <label for="exampleInputEmail1" class="form-label">Email address:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
            </div>
            <div class="w-75">
              <label for="exampleInputPassword1" class="form-label" >Password:</label>
              <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" >
            </div>

            <button type="submit" class="btn btn-primary mx-auto mt-3 w-75" >Sign up</button>
          </form>
    </div>
</div>